@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Urbanist:wght@100;200;300;400;500;600;700;900&display=swap');


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #EA4444;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    width: 10px;
    background-color: #1c2732;
}


.custom-transition {
    transition: all 0.3s ease-in-out;
}

* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
    
}

.darkmode{
    background-color: black;
}

.shadow-property-dark {
    box-shadow: rgb(255, 255, 255) 5px 10px 15px -15px;
}
.shadow-property-light {
    box-shadow: rgb(0, 0, 0) 5px 10px 15px -15px;
}

.custom-shadow-hard {
    box-shadow: rgba(255, 255, 255, 0.35) 0px 1px 7px 1px;
}
.custom-shadow-hard-light {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 7px 1px;
}

/* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */

hr {
    border: 1px solid #1c2732;
    /* margin: 12px 0px 6px 0px; */
    margin-top: 20px;
    width: 100%;
}

.hover-property:hover {
    border: 1px solid red;
    background-color: transparent;
    color: red;
}

.hover-property {
    border: 1px solid red;
}


.tooltip-text {
    width: max-content;
}

.tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: gray transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    display: flex;
}


/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Urbanist', sans-serif; */